.add {
	margin: 10px;
}

.grid {
	display: grid;
	border: 1px solid #ccc;
	width: 100%;
}

.row {
	display: grid;
	grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid #eee;
}

.row > div {
	padding: 10px;
	border-right: 1px solid #eee;
}

.row > div:last-child {
	border-right: none;
}

.header {
	background-color: #f5f5f5;
	font-weight: bold;
}
