.tabs {
	display: flex;
	flex-direction: column;
	border: 1px solid silver;
}

.header {
	height: 30px;
	display: flex;
	flex-direction: row;
	user-select: none;
	border-bottom: 1px solid silver;
}

.button {
	border: 0;
	margin: 5px 5px 0 5px;
	border-radius: 5px 5px 0 0;
	background-color: rgb(150, 150, 150);
	cursor: pointer;
}

.buttonActive {
	background-color: rgb(200, 200, 200);
}

.content {
	flex: 1;
}

.disabled {
	opacity: 0.5;
}

.hidden {
	display: none;
}
