.container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.menu {
	position: absolute;
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8);

	&:hover {
		width: 400px;

		.menuContent {
			display: flex;
		}
	}
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
}

.content > div {
	flex: 1;
}

.menuButton {
	background: blue;
	opacity: 0.4;
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: -40px;
	left: -40px;
	rotate: 45deg;
	cursor: pointer;
}

.menuContent {
	flex-direction: column;
	border-right: 1px solid silver;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	display: none;
}

.meunTitle {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	border-bottom: 1px solid silver;
}

.menuExamples {
	flex: 1;
}

/* fixed */

.fixed {
	display: flex;
	flex-direction: row-reverse;

	.menu {
		position: relative;
		width: 400px;

		.menuContent {
			display: flex;
		}
	}

	.content {
		flex: 1;
	}
}
